[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
common-shared-library = {git = "https://github.com/addenergyx/common-shared-library.git"}

[dev-packages]

[requires]
python_version = "3.12"
